@font-face {
    font-family: 'spacy';
    src: url('../font/071mkba_-webfont.eot');
    src: url('../font/071mkba_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/071mkba_-webfont.woff') format('woff'),
         url('../font/071mkba_-webfont.ttf') format('truetype'),
         url('../font/071mkba_-webfont.svg#071mksdboldaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}